*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000
}

.carousel
{
    position: relative;
    margin-top: 80px;
    height: 600px;
    perspective: 1500px;
}

.carousel .carousel-item
{
    width: 250px;
}

.carousel .carousel-item img
{
    max-width: 235px;
    transform: translateX(8px) translateY(-100px);
    height: 400px;
}

.carousel .phone
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    pointer-events: none;
    max-width: 260px;
}