@import url(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3f3f3;
	/*overflow: hidden;*/
}

.container-cards
{
	position: relative;
	padding-top: 400px;
	width: 1050px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transform: skewY(-10deg);
}

.container-cards .card
{
	position: relative;
	width:  300px;
	height: 400px;
	background-color: #fff;
	transition: 0.5s;
	margin-bottom: 100px;
}

.container-cards .card:before
{
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: #00c0f6;
	transform-origin:bottom;
	transform: skewX(45deg);
	transition: 0.5s;
}

.container-cards .card:after
{
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	width: 15px;
	height: 50%;
	background-color: #00c0f6;
	transform-origin:left;
	transform: skewY(45deg);
	transition: 0.5s;
	border-bottom: 200px solid #d9d9d9;
}

.container-cards .card:hover
{
	transform: translateY(-40px);
}

.container-cards .card .imgBx
{
	position: relative;
	width: 300px;
	height: 200px;
	background-color: #00c7ff;
	display: flex;
	justify-content: center;align-items: center;
	flex-direction: column;
}

.container-cards .card .imgBx img
{
	min-height: 100px;
}

.container-cards .card .imgBx h3
{
	position: relative;
	color: #fff;
	margin-top: 10px;
}

.container-cards .card .content-card
{
	position: relative;
	width: 100%;
	height: 200px;
	padding: 20px;
	color: #777;
	background-color: #fff;
	text-align: center;
}

.container-cards .card .content-card:before
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(transparent, transparent, rgba(0,0,0,0.1));
	transform-origin:bottom;
	transform: skewX(45deg);
	transition: 0.5s;
	pointer-events: none;
	z-index: -1;
}

.container-cards .card:hover .content-card:before
{
	transform: translateY(40px) skewX(45deg);
	filter: blur(5px);
	opacity: 0.5;
}

.container-cards .card:nth-child(1)
{
	z-index: 6;
}

.container-cards .card:nth-child(2)
{
	z-index: 5;
}

.container-cards .card:nth-child(3)
{
	z-index: 4;
}

.container-cards .card:nth-child(4)
{
	z-index: 3;
}

.container-cards .card:nth-child(5)
{
	z-index: 2;
}

.container-cards .card:nth-child(6)
{
	z-index: 1;
}