@import url(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section
{
	height: 100vh;
	background-color: #000;
	overflow: hidden;
}

section::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #f09, #d800ff52, #00ffc28c, #0cefef, #10ff00, #0ff);
	mix-blend-mode: color;
	pointer-events: none;
}

section video
{
	object-fit: cover;
}

section h1
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #ddd;
	font-size: 5em;
	letter-spacing: 0.2em;
}

@media(max-width: 767px){
	section h1
	{
		font-size: 1.7em;
	}

}

@media(min-width: 768px){
	section h1
	{
		font-size: 2.5em;
	}

}

@media(min-width: 991px){
	section h1
	{
		font-size: 3em;
	}

}

@media(min-width: 1200px){
	section h1
	{
		font-size: 4em;
	}

}


section h1 span
{	
	opacity: 0;
	display: inline-block;
	animation: animsmok 1s linear forwards;
}

@keyframes animsmok
{
	0%
	{
		opacity: 0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}

	100%
	{
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}

section h1 span:nth-child(1)
{
	animation-delay: 1s
}

section h1 span:nth-child(2)
{
	animation-delay: 2s
}

section h1 span:nth-child(3)
{
	animation-delay: 2.5s
}

section h1 span:nth-child(4)
{
	animation-delay: 3s
}

section h1 span:nth-child(5)
{
	animation-delay: 3.5s
}

section h1 span:nth-child(6)
{
	animation-delay: 4s
}

section h1 span:nth-child(7)
{
	animation-delay: 4.5s
}

section h1 span:nth-child(8)
{
	animation-delay: 4.75s
}

section h1 span:nth-child(9)
{
	animation-delay: 5s
}

section h1 span:nth-child(10)
{
	animation-delay: 5.5s
}

section h1 span:nth-child(11)
{
	animation-delay: 5.75s
}

section h1 span:nth-child(12)
{
	animation-delay: 6s
}



@media(min-width: 576px) and (max-width: 1200px){
	section h1 span:nth-child(1)
	{
		animation-delay: .5s
	}

	section h1 span:nth-child(2)
	{
		animation-delay: .75s
	}

	section h1 span:nth-child(3)
	{
		animation-delay: 1.25s
	}

	section h1 span:nth-child(4)
	{
		animation-delay: 1.75s
	}

	section h1 span:nth-child(5)
	{
		animation-delay: 2.25s
	}

	section h1 span:nth-child(6)
	{
		animation-delay: 2.75s
	}

	section h1 span:nth-child(7)
	{
		animation-delay: 3.35s
	}

	section h1 span:nth-child(8)
	{
		animation-delay: 3.75s
	}

	section h1 span:nth-child(9)
	{
		animation-delay: 4.25s
	}

	section h1 span:nth-child(10)
	{
		animation-delay: 4.75s
	}

	section h1 span:nth-child(11)
	{
		animation-delay: 5.25s
	}

	section h1 span:nth-child(12)
	{
		animation-delay: 5.75s
	}

}