@import url(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #08001b;
}

.container-cards
{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.container-cards .card
{
	position: relative;
	width:  300px;
	height: 400px;
	background-color: #0c002b;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 30px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
	overflow: hidden;
}

.container-cards .card::before
{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background-color: rgba(255,255,255,0.1);
	pointer-events: none;
}

.container-cards:hover .card
{
	opacity: 0.2;
}

.container-cards .card:hover
{
	opacity: 1;
}

.container-cards .card span
{
	transition: 0.5s;
	opacity: 0;
}

.container-cards .card:hover span
{
	opacity: 1;

}

.container-cards .card span:nth-child(1)
{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 3px;
	background-image:linear-gradient(to right , transparent , #1779ff);
	animation: animatecardone 1.5s linear infinite;
}

@keyframes animatecardone 
{
	0%
	{
		transform: translateX(-100%);
	}

	100%
	{
		transform: translateX(100%);
	}
}

.container-cards .card span:nth-child(2)
{
	position: absolute;
	top: 0;
	right:0;
	width:3px;
	height:100%;
	background-image:linear-gradient(to bottom , transparent , #1779ff);
	animation: animatecardtow 1.5s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animatecardtow 
{
	0%
	{
		transform: translateY(-100%);
	}

	100%
	{
		transform: translateY(100%);
	}
}

.container-cards .card span:nth-child(3)
{
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	height:3px;
	background-image:linear-gradient(to left , transparent , #1779ff);
	animation: animatecardthree 1.5s linear infinite;
}

@keyframes animatecardthree 
{
	0%
	{
		transform: translateX(100%);
	}

	100%
	{
		transform: translateX(-100%);
	}
}

.container-cards .card span:nth-child(4)
{
	position: absolute;
	top: 0;
	left:0;
	width:3px;
	height:100%;
	background-image:linear-gradient(to top , transparent , #1779ff);
	animation: animatecardfour 1.5s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animatecardfour 
{
	0%
	{
		transform: translateY(100%);
	}

	100%
	{
		transform: translateY(-100%);
	}
}

.container-cards .card .content-card
{
	padding: 30px;
	text-align: center;
}

.container-cards .card .content-card h2
{
	position: absolute;
	right: 30px;
	font-size: 4em;
	font-weight: 800;
	color: #1779ff;
	z-index: 1;
	opacity: 0.1;
	transition: 0.5s;
}

.container-cards .card:hover .content-card h2
{
	opacity: 1;
	transform: translateY(-70px);
}

.container-cards .card .content-card h3
{
	position: relative;
	font-size: 1.5em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
}

.container-cards .card .content-card p
{
	position: relative;
	font-size: 1em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	font-weight: 300;
	transition: 0.5s;
}

.container-cards .card:hover .content-card h3,
.container-cards .card:hover .content-card p
{
	opacity: 1;
}

.container-cards .card .content-card a
{
	display: inline-block;
	margin-top: 15px;
	padding: 8px 15px;
	background-color: #fff;
	color: #0c002b;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

