body {
  background-color: #333;
}

.image {
  margin: 20px auto;
  width: 400px;
  height: 250px;
  position: relative;
}

.image img {transition: .3s}


.image:hover img {opacity:.1}

.image .caption
{
	position: absolute;
	left: 0;
	bottom: 25px;
	
}

.image .caption h3 
{
	background-color: red;
	color: #fff;
	padding: 10px 15px;
	font-size: 18px;
	position: relative;
	z-index: 1;
	margin: 0;
	font-family: Arial,Tahoma
}

.image .caption:after
{
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	background-color: #fff;
	width: 0;
	height: calc(100% + 10px);
	z-index: 0;
	transition: .4s;
}

.image:hover .caption:after
{
	width: calc(100% + 5px);
}