div
{
	width: 400px;
	margin:100px auto;
	font-size: 25px;
	text-align: center;
	font-family: Arial, Tahoma
}

div span
{
	display: block;
	margin-bottom: 20px
}

div span.timer1, div span.timer2
{
	font-size: 40px;
	font-weight: bold;
	color: #999
}