.comments
{
	margin: 50px 50%;
	width:700px ;
	padding: 0 10px 0 20px;
	border-left: 3px solid #ccc;
	
}

p:first-child,
p:nth-child(3)
{
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	font-family: Tahoma, Arial;
	position: relative;
	left:-366px;
	line-height: 1.8;
	border:3px solid #ddd;
	width: 300px;
}

p:first-child:before,
p:nth-child(3):before
{
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	border:3px solid #ddd;
	background-color: #2c3e50;
	position: absolute;
	top: 10px;
	right: -31px;

}

p:first-child:after,
p:nth-child(3):after
{
	content: '';
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 8px;
	border-color: transparent transparent transparent #b5aeae;
	position: absolute;
	top: 10px;
	right: -17px;
	
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

p:last-child,
p:nth-child(2)
{
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	font-family: Tahoma, Arial;
	position: relative;
	right:0;
	line-height: 1.8;
	border:3px solid #ddd;
	width: 300px;
}

p:last-child:before,
p:nth-child(2):before
{
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	border:3px solid #ddd;
	background-color: #2c3e50;
	position: absolute;
	top: 10px;
	left: -31px;

}

p:last-child:after,
p:nth-child(2):after
{
	content: '';
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 8px;
	border-color: transparent #b5aeae transparent transparent;
	position: absolute;
	top: 10px;
	left: -17px;
	
}