body {
  background-color: #333;
}

.image-all-together {
  width: 713px;
  height: 490px;
  margin: 20px auto;
  color: #FFF;
  position: relative;
}

.image-all-together span
{
	position: absolute;
	background-color: orange;
	transition: all .3s ease-in-out;
}

.image-all-together .one
{
	left:0 ;
	top: 0;
	width: 0;
	height: 0
}

.image-all-together .two
{
	left:0 ;
	bottom:0 ;
	width:0;
	height:0 
}

.image-all-together .three
{
	right:0 ;
	bottom:0 ;
	width: 0;
	height: 0
}

.image-all-together .four
{
	
	right:0 ;
	top:0 ;
	width:0 ;
	height:0 
}

.image-all-together:hover .one,
.image-all-together:hover .three
{
	width: 5px;
	height: 100%
}

.image-all-together:hover .two,
.image-all-together:hover .four
{
	width:100% ;
	height:5px 
}


.image-all-together img
{
	opacity: 1;
	transition-delay:.3s;
	transition-duration:0.3s 
}

.image-all-together:hover img
{
	opacity: 0.1;
	z-index: 1;
}


.image-all-together h3
{
	position: absolute;
	top: 200px;
	left: 280px;
	visibility: hidden;

	
}

.image-all-together:hover h3
{
	visibility:visible;
	z-index: 2;
	transition-delay:.5s;
	
}