*
{
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-popup
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff173;
  transition: 0.5s;
  padding: 20px;
}

.container-popup#blur.active
{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.container-popup .content-popup
{
  position: relative;
  max-width: 800px;
}

.container-popup .content-popup p,
#popup p
{
  font-weight: 600;
  margin-bottom: 18px;
  color: #333;
}

.container-popup .content-popup img
{
  max-width: 100%;
  display: block;
}

.container-popup .content-popup a,
#popup a
{
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #111;
}

#popup
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.3);
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active
{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}