h1
{
	text-align: center;
}

.holder
{
	margin: 20px auto;
	width: 800px;
	overflow: hidden;
}
.holder img
{
	width: 100%;
	height: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: .6
}

.holder img:hover
{
	-webkit-transform: scale(1.2) rotate(5deg);
	-moz-transform: scale(1.2) rotate(5deg);
	-o-transform: scale(1.2) rotate(5deg);
	transform: scale(1.2) rotate(5deg);
	opacity: 1
}