*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #262626;

}

section{
	width: 100%;
	height: 100vh;
	position: relative;
}

section h2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	font-family: sans-serif;
	font-size: 140px;
	color: #333;
	text-align: center;
}


section .box div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style:preserve-3d;
	transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px , -50px , 150px);
}

section .box div span{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: #ccc;
}

section .box div span video 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(0px);
}

section video 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(20px);
}

section .box div span:nth-child(1)
{
	transform: rotateX(0deg) translate3d(0, 0 , 200px);
}

section .box div span:nth-child(2)
{
	transform: rotateY(90deg) translate3d(0, 0 , -200px);
}

section .box div span:nth-child(2) video
{
	transform: rotateY(180deg);
}

section .box div span:nth-child(3)
{
	transform: rotateX(90deg) translate3d(0, 0 , 200px);
}
